<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.dao.PaperDao">
    <insert id="addPaper">
        insert into paper(pid,eid,sid,cno,
                          scontent,sa,sb,sc,sd,skey)
                          values (default,#{eid},#{sid},
                                  #{cno},#{scontent},#{sa},#{sb},
                                  #{sc},#{sd},#{skey})
    </insert>
    <delete id="deleteByEid">
        delete from paper where eid=#{eid}
    </delete>
    <select id="getByEid" resultType="com.sxt.pojo.Paper">
        select * from paper where eid=#{eid}
    </select>
</mapper>