<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.dao.TeaUserDao">

    <select id="teaLogin" resultType="com.sxt.pojo.TeaUser">
        select * from teauser where username=#{username}
                                and userpwd=#{userpwd}
    </select>
    <select id="getTeaTruename" resultType="java.lang.String">
        select truename from teauser where username=#{username}
    </select>
    <select id="getClassId" resultType="java.lang.Integer">
        select classid from teauser where username=#{username}
    </select>
    <select id="getUserid" resultType="java.lang.Integer">
        select userid from teauser where username=#{username}
    </select>
</mapper>