<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.dao.UsersDao">
    <insert id="addUsers">
        insert into users(userid,username,userpwd,truename,classid)
                values (default,#{username},#{userpwd},#{truename},#{classid})
    </insert>
    <update id="updateUsers">
        update users set username=#{username},
                         userpwd=#{userpwd},
                         truename=#{truename},
                         classid=#{classid}
                    where userid=#{userid}
    </update>
    <update id="updUserPwd">
        update users set userpwd=#{userpwd}
                    where userid=#{userid}
    </update>

    <delete id="delUserid">
        delete from users where userid=#{userid}
    </delete>
    <delete id="delClassid">
        delete from  users where classid=#{classid}
    </delete>
    <select id="login" resultType="com.sxt.pojo.Users">
        select * from users where username=#{username}
                            and userpwd=#{userpwd}
    </select>
    <select id="getByName" resultType="com.sxt.pojo.Users">
        select * from users where username=#{username}
    </select>
    <select id="pageById" resultType="com.sxt.pojo.Users">
        select * from users where classid=#{classid}
    </select>
    <select id="getByUserid" resultType="com.sxt.pojo.Users">
        select * from users where userid=#{userid}
    </select>
    <select id="getByNameId" resultType="java.lang.Integer">
        select  userid from users where username=#{username}
    </select>
    <select id="getTrueName" resultType="java.lang.String">
        select truename from  users where username=#{username}
    </select>
    <select id="getByClass" resultType="java.lang.Integer">
        select classid from users where username=#{username}
    </select>
    <select id="getUserid" resultType="com.sxt.pojo.Users">
        select userid from users where classid=#{classid}
    </select>
</mapper>